<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EventkalenderServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/EventkalenderWS/EventkalenderService.asmx" binding="basicHttpBinding" bindingConfiguration="EventkalenderServiceSoap" contract="EventkalenderReference.EventkalenderServiceSoap" name="EventkalenderServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
