<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="EventkalenderServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
              <binding name="CronusServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/EventkalenderWS/CronusService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CronusServiceSoap"
                contract="CronusReference.CronusServiceSoap" name="CronusServiceSoap" />
            <endpoint address="http://localhost/EventkalenderWS/EventkalenderService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EventkalenderServiceSoap"
                contract="EventkalenderReference.EventkalenderServiceSoap"
                name="EventkalenderServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
